**/.DS_Store

# Project Specific
temp/
working_dir/

# Scala Specific
*.class
*.log

# SBT Specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ Specific
**/.idea/**/*

# IDEs and Build Tools
.bloop
.metals
.vscode
.ensime
.ensime_cache
